{"openapi":"3.0.1","info":{"title":"Integração Lopes & Cia","description":"DocumentaJson para processos de integracom o time Lopes e Cia.","contact":{"name":"Lopes & Cia","url":"https://lopesecia.com.br","email":"moiseis@lopesecia.com.br","Suporte":"(62) 3181-0691","Comercial":"(62) 98595-0004"},"version":"2.4.1"},"servers":[{"url":"https://gp.lopesecia.com.br:9005/Servidor","description":"Ambiente de ProduB2b"}],"security":[{"Authorization":[]}],"tags":[{"name":"Integradora","description":"Integração de sinais em um período de tempo"},{"name":"Tabela Preço","description":"Tabela de preços"},{"name":"Log","description":"Texto que recolhe cronologicamente todos os eventos que afetaram o sistema"},{"name":"Pagamento","description":"Representa os pagamentos"},{"name":"Transporte","description":"Transporte do produto"},{"name":"Acesso","description":"Possibilita o acesso ao sistema desejado"},{"name":"Rotina","description":"Ferramentas do sistema"},{"name":"Filial","description":"Representante da empresa, pessoa física ou jurídica que opera utilizando os recursos do sistema"},{"name":"Produto","description":"Aquilo que é produzido para venda no mercado"},{"name":"Praça","description":"Parâmetro necessário para cadastrar um produto"},{"name":"Município","description":"As UFs, municípios e estados"},{"name":"Customer","description":"Representa o cliente"},{"name":"Nota Fiscal","description":"Nota Fiscal"},{"name":"Operation","description":"Operação é o conjunto de todas as ações técnicas e administrativas com o objetivo de permitir que um item exerça uma função necessária"},{"name":"Integration","description":"Dispositivo que faz a integração de sinais num período de tempo "},{"name":"Pedido","description":"Produto ou serviço requerido"},{"name":"Api","description":"Application Programming Interface"}],"paths":{"/webservice/integration/validaVinculoProdutos":{"put":{"tags":["Produto"],"description":"Valida se o produto estvinculado","operationId":"validaVinculoProdutos","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoBean"}}}}}}},"/webservice/integration/validaVinculoProdutosPresta":{"put":{"tags":["Produto"],"description":"Valida o vde produtos presta","operationId":"validaVinculoProdutosPresta","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Proximo sku id presta retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoItemBean"}}}}}}},"/webservice/integration/validaVinculoProdutosOnfood":{"put":{"tags":["Produto"],"description":"Valida se o produto estvinculado","operationId":"validaVinculoProdutosOnfood","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Vinculo de produtos validados com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoBean"}}}}}}},"/webservice/integration/validaVinculoProdutosLoja":{"put":{"tags":["Produto"],"description":"Valida se o produto estvinculado","operationId":"validaVinculoProdutosLoja","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoBean"}}}}}}},"/webservice/integration/upperCidadeSankhya":{"put":{"tags":["Município"],"description":"Sobe uma cidade Sankhya","operationId":"upperCidadeSankhya","responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Cidade sankhya alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CidadeSankhyaBean"}}}}}}},"/webservice/integration/updateVinculoCatMercadoLivre":{"put":{"tags":["Produto"],"description":"Altera um vínculo para categorias do mercado livre","operationId":"updateVinculoCatMercadoLivre","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculoCatMercadoLivreBean"}}},"required":true},"responses":{"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculoCatMercadoLivreBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateTabelaPreco":{"put":{"tags":["Tabela Preço"],"description":"Altera uma tabela de preço","operationId":"updateTabelaPreco","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoBean"}}},"required":true},"responses":{"200":{"description":"Tabela de prealterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateTabelaPrecoOnfood":{"put":{"tags":["Tabela Preço"],"description":"Altera uma tabela de preço","operationId":"updateTabelaPrecoOnfood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoOnfoodBean"}}},"required":true},"responses":{"200":{"description":"Tabela de prealterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoOnfoodBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateStatusPedidoIfc":{"put":{"tags":["Order"],"description":"Altera o status de um produto IFC","operationId":"updateStatusPedidoIfc","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Status PedidoIfc alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoBean"}}}}}}},"/webservice/integration/updateProduto":{"put":{"tags":["Produto"],"description":"Cria um produto","operationId":"updateProduto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateProdutoPresta":{"put":{"tags":["Produto"],"description":"Valida o vde produtos presta","operationId":"updateProdutoPresta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}},"required":true},"responses":{"200":{"description":"Produto presta atualizao com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoItemBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateProdutoOnfood":{"put":{"tags":["Produto"],"description":"Cria um produto","operationId":"updateProdutoOnfood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateProdutoLoja":{"put":{"tags":["Produto"],"description":"Cria um produto","operationId":"updateProdutoLoja","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoLojaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoLojaBean"}}}}}}},"/webservice/integration/updatePrecoPromocao":{"put":{"tags":["Produto"],"description":"Altera um preem promoção","operationId":"updatePrecoPromocao","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Prepromocional alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoPromoBean"}}}}}}},"/webservice/integration/updatePrecoProduto":{"put":{"tags":["Produto"],"description":"Altera o prede um produto","operationId":"updatePrecoProduto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Preproduto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updatePrecoProdutoTray":{"put":{"tags":["Produto"],"description":"Altera o prede um produto","operationId":"updatePrecoProdutoTray","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Preproduto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updatePrecoProdutoPresta":{"put":{"tags":["Produto"],"description":"Altera o prede um produto presta","operationId":"updatePrecoProdutoPresta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Predo produto presta alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoItemBean"}}}}}}},"/webservice/integration/updatePrecoProdutoOnfood":{"put":{"tags":["Produto"],"description":"Altera o prede um produto","operationId":"updatePrecoProdutoOnfood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Preproduto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updatePrecoProdutoLoja":{"put":{"tags":["Produto"],"description":"Cria um produto","operationId":"updatePrecoProdutoLoja","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoLojaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoLojaBean"}}}}}}},"/webservice/integration/updatePrecoProdutoCayena":{"put":{"tags":["Produto"],"description":"Altera o prede um produto presta","operationId":"updatePrecoProdutoCayena","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Predo produto presta alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoItemBean"}}}}}}},"/webservice/integration/updatePrecoEcommerce":{"put":{"tags":["Produto"],"description":"Altera um pree-commerce","operationId":"updatePrecoEcommerce","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pree-commerce alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommerceBean"}}}}}}},"/webservice/integration/updatePrecoEcommercePresta":{"put":{"tags":["Produto"],"description":"Altera um pree-commerce presta","operationId":"updatePrecoEcommercePresta","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pree-commerce presta alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommercePrestaBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updatePrecoEcommerceOnfood":{"put":{"tags":["Produto"],"description":"Altera um pree-commerce","operationId":"updatePrecoEcommerceOnfood","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommerceBean"}}}}}}},"/webservice/integration/updatePrecoEcommerceMagento":{"put":{"tags":["Produto"],"description":"Altera um pree-commerce","operationId":"updatePrecoEcommerceMagento","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrecoEcommerceMagentoBean"}}}},"required":true},"responses":{"200":{"description":"Pree-commerce alterado com sucesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrecoEcommerceMagentoBean"}}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updatePrecoEcommerceCayena":{"put":{"tags":["Produto"],"description":"Altera um pree-commerce presta","operationId":"updatePrecoEcommerceCayena","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pree-commerce presta alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommercePrestaBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updatePedidoIntegrado":{"put":{"tags":["Pedido"],"description":"Altera um pedido integrado","operationId":"updatePedidoIntegrado","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pedido integrado alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoIntegradoBean"}}}}}}},"/webservice/integration/updatePedidoIntegradoNumPed":{"put":{"tags":["Pedido"],"description":"Altera o numero de um pedido integrado","operationId":"updatePedidoIntegradoNumPed","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Numero de pedido integrado alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoIntegradoBean"}}}}}}},"/webservice/integration/updatePagamentoRecebimentoOrder":{"put":{"tags":["Pagamento"],"description":"Altera um pagamento order recebido","operationId":"updatePagamentoRecebimentoOrder","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"orderId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pagamento recebimento order alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagamentoRecebimentoBean"}}}}}}},"/webservice/integration/updateListTipoPreco":{"put":{"tags":["Tabela Preço"],"description":"Lista o tipo dos preço","operationId":"updateListTipoPreco","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TabelaTipoPrecoBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tipo de prelistada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaTipoPrecoBean"}}}}}}},"/webservice/integration/updateListTipoPrecoOnfood":{"put":{"tags":["Tabela Preço"],"description":"Lista o tipo dos preço","operationId":"updateListTipoPrecoOnfood","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TabelaTipoPrecoBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tipo de prelistada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoBean"}}}}}}},"/webservice/integration/updateListProduto":{"put":{"tags":["Produto"],"description":"Cria um produto","operationId":"updateListProduto","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProdutoBean"}}}},"required":true},"responses":{"200":{"description":"Produto alterado com sucesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProdutoBean"}}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateListProdutoOnfood":{"put":{"tags":["Produto"],"description":"Cria um produto","operationId":"updateListProdutoOnfood","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto alterado com sucesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}}}}}}},"/webservice/integration/updateListProdutoLoja":{"put":{"tags":["Produto"],"description":"Cria um produto","operationId":"updateListProdutoLoja","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProdutoLojaBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProdutoLojaBean"}}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateIntegration":{"put":{"tags":["Integration"],"description":"Altera alguns dados do registro","operationId":"updateIntegration","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processo de integradefault","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegracaoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateIntegradora":{"put":{"tags":["Integradora"],"description":"Altera uma integradora","operationId":"updateIntegradora","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegradoraBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Integradora alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegradoraBean"}}}}}}},"/webservice/integration/updateFilialWinthor":{"put":{"tags":["Filial"],"description":"Altera uma filial Winthor","operationId":"updateFilialWinthor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialWinthorBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial winthor alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialWinthorBean"}}}}}}},"/webservice/integration/updateFilialUpSoftware":{"put":{"tags":["Filial"],"description":"Altera uma filial UpSoftware","operationId":"updateFilialUpSoftware","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialUpSoftwareBean"}}},"required":true},"responses":{"200":{"description":"Filial UpSoftware alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialUpSoftwareBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateFilialTiny":{"put":{"tags":["Filial"],"description":"Altera uma filial Tiny","operationId":"updateFilialTiny","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialTinyBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial tiny alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialSankhyaBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateFilialSankhya":{"put":{"tags":["Filial"],"description":"Altera uma filial Sankhya","operationId":"updateFilialSankhya","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialSankhyaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial sankhya alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialSankhyaBean"}}}}}}},"/webservice/integration/updateFilialLopes":{"put":{"tags":["Filial"],"description":"Altera uma filial Lopes","operationId":"updateFilialLopes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialLopesBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial Lopes alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialLopesBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateFilialGestao":{"put":{"tags":["Filial"],"description":"Altera a gestde uma filial","operationId":"updateFilialGestao","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialGestaoBean"}}},"required":true},"responses":{"200":{"description":"Gestao filial alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialGestaoBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateEstoqueVtex":{"put":{"tags":["Produto"],"description":"Altera o relacionamento de estoque e-commerce Vtex em um produto","operationId":"updateEstoqueVtex","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstoqueVtexBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Preproduto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstoqueVtexBean"}}}}}}},"/webservice/integration/updateEstoqueProduto":{"put":{"tags":["Produto"],"description":"Altera o estoque de um produto","operationId":"updateEstoqueProduto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Estoque produto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}}}}},"/webservice/integration/updateEstoqueProdutoTray":{"put":{"tags":["Produto"],"description":"Altera o estoque de um produto","operationId":"updateEstoqueProdutoTray","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Estoque produto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}}}}},"/webservice/integration/updateEstoqueProdutoPresta":{"put":{"tags":["Produto"],"description":"Altera o estoque de um produto presta","operationId":"updateEstoqueProdutoPresta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Estoque do produto presta alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}}}}}},"/webservice/integration/updateEstoqueProdutoOnfood":{"put":{"tags":["Produto"],"description":"Altera o estoque de um produto","operationId":"updateEstoqueProdutoOnfood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Estoque produto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}}}}}},"/webservice/integration/updateEstoqueProdutoLoja":{"put":{"tags":["Produto"],"description":"Cria um produto","operationId":"updateEstoqueProdutoLoja","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoLojaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoLojaBean"}}}}}}},"/webservice/integration/updateEstoqueProdutoCayena":{"put":{"tags":["Produto"],"description":"Altera o estoque de um produto presta","operationId":"updateEstoqueProdutoCayena","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Estoque do produto presta alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}}}}}},"/webservice/integration/updateDadoIntegration":{"put":{"tags":["Integration"],"description":"Altera um dado na integradora","operationId":"updateDadoIntegration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadoIntegrationBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Dado integration alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadoIntegrationBean"}}}}}}},"/webservice/integration/updateCustomer":{"put":{"tags":["Customer"],"description":"Altera um customer","operationId":"updateCustomer","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Custumer alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}}}}},"/webservice/integration/updateCustomerId":{"put":{"tags":["Customer"],"description":"Altera um customerId","operationId":"updateCustomerId","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Custumerid alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateClienteIntegrado":{"put":{"tags":["Customer"],"description":"Altera um cliente integrado","operationId":"updateClienteIntegrado","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Custumer integrado alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}}}}},"/webservice/integration/updateClienteIntegradoOnfood":{"put":{"tags":["Customer"],"description":"Altera um cliente integrado","operationId":"updateClienteIntegradoOnfood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteOnfoodBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Custumer integrado alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteOnfoodBean"}}}}}}},"/webservice/integration/updateClienteIntegradoCodcli":{"put":{"tags":["Customer"],"description":"Altera um cde cliente integrado","operationId":"updateClienteIntegradoCodcli","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"CodCli custumer integrado alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}}}}},"/webservice/integration/updateClienteIntegradoCodcliOnfood":{"put":{"tags":["Customer"],"description":"Altera um cde cliente integrado","operationId":"updateClienteIntegradoCodcliOnfood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteOnfoodBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"CodCli custumer integrado alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteOnfoodBean"}}}}}}},"/webservice/integration/updateCidadeSankhya":{"put":{"tags":["Município"],"description":"Altera uma cidade Sankhya","operationId":"updateCidadeSankhya","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CidadeSankhyaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Cidade sankhya alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CidadeSankhyaBean"}}}}}}},"/webservice/integration/updateCategoria":{"put":{"tags":["Produto"],"description":"Altera uma categoria de produto","operationId":"updateCategoria","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculoCatMercadoLivreBean"}}},"required":true},"responses":{"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculoCatMercadoLivreBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/updateCadTracking":{"put":{"tags":["Pedido"],"description":"Cria um vde tracking","operationId":"updateCadTracking","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"true","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CadTrackingBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/acessoTotal":{"put":{"tags":["Acesso"],"description":"Cria um acesso total","operationId":"acessoTotal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcessoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Acesso total criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcessoBean"}}}}}}},"/webservice/integration/tokenBling":{"post":{"tags":["Api"],"description":"Retorna um token Bling vpegando o mesmo ou renovando o token.","operationId":"tokenBling","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BodyBlingBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pega um token Bling vno servidor.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenBlingBean"}}}}}}},"/webservice/integration/notifications":{"post":{"tags":["Integration"],"description":"Recebe notificagerais Mercado Livre","operationId":"notifications","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/webservice/integration/notificationOrderIfood":{"post":{"tags":["Integration"],"description":"Recebe notificada plataforma ifood","operationId":"notificationOrderIfood","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Processo de integrade pedidos ifood","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegracaoBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/integration":{"post":{"tags":["Integration"],"description":"Cria um novo registro","operationId":"integration","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processo de integradefault","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegracaoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertVinculoCatMercadoLivre":{"post":{"tags":["Produto"],"description":"Cria um vínculo para categorias do mercado livre","operationId":"insertVinculoCatMercadoLivre","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculoCatMercadoLivreBean"}}},"required":true},"responses":{"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculoCatMercadoLivreBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertTransporte":{"post":{"tags":["Transporte"],"description":"Cria um transportes","operationId":"insertTransporte","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransporteBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Trasporte criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransporteBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertTipoPreco":{"post":{"tags":["Tabela Preço"],"description":"Cria uma tabela de preço","operationId":"insertTipoPreco","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaTipoPrecoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tabela de precriada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaTipoPrecoBean"}}}}}}},"/webservice/integration/insertTipoPrecoOnfood":{"post":{"tags":["Tabela Preço"],"description":"Cria uma tabela de preço","operationId":"insertTipoPrecoOnfood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaTipoPrecoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tabela de precriada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoBean"}}}}}}},"/webservice/integration/insertTabelaPreco":{"post":{"tags":["Tabela Preço"],"description":"Cria uma tabela de preço","operationId":"insertTabelaPreco","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tabela de precriada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoBean"}}}}}}},"/webservice/integration/insertTabelaPrecoOnfood":{"post":{"tags":["Tabela Preço"],"description":"Cria uma tabela de preço","operationId":"insertTabelaPrecoOnfood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoOnfoodBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tabela de precriada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoOnfoodBean"}}}}}}},"/webservice/integration/insertTabelaPrecoEstado":{"post":{"tags":["Tabela Preço"],"description":"Cria uma tabela de preEstado","operationId":"insertTabelaPrecoEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoEstadoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tabela preco estado listada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoEstadoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertProduto":{"post":{"tags":["Produto"],"description":"Cria um produto","operationId":"insertProduto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}}}}},"/webservice/integration/insertProdutoPresta":{"post":{"tags":["Produto"],"description":"Valida o vde produtos presta","operationId":"insertProdutoPresta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto presta criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoItemBean"}}}}}}},"/webservice/integration/insertProdutoOnfood":{"post":{"tags":["Produto"],"description":"Cria um produto","operationId":"insertProdutoOnfood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertProdutoLoja":{"post":{"tags":["Produto"],"description":"Cria um produto","operationId":"insertProdutoLoja","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoLojaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoLojaBean"}}}}}}},"/webservice/integration/insertPrecoPromocao":{"post":{"tags":["Produto"],"description":"Cria um preem promoção","operationId":"insertPrecoPromocao","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Prepromocional criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoPromoBean"}}}}}}},"/webservice/integration/insertPrecoEcommercePresta":{"post":{"tags":["Produto"],"description":"Cria um pree-commerce presta","operationId":"insertPrecoEcommercePresta","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pree-commerce presta criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommercePrestaBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertPrecoEcommerceOnfood":{"post":{"tags":["Produto"],"description":"Retorna um pree-commerce","operationId":"insertPrecoEcommerceOnfood","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrecoEcommerceOnfoodBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommerceBean"}}}}}}},"/webservice/integration/insertPrecoEcommerceMagento":{"post":{"tags":["Produto"],"description":"Retorna um pree-commerce","operationId":"insertPrecoEcommerceMagento","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrecoEcommerceMagentoBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pree-commerce criado com sucesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrecoEcommerceMagentoBean"}}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertPracaWinthor":{"post":{"tags":["Praça"],"description":"Cria uma praWinthor","operationId":"InsertPracaWinthor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PracaWinthorBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"PraWinthor criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoPromoBean"}}}}}}},"/webservice/integration/insertPlanoPagCli":{"post":{"tags":["Plano Pagamento"],"description":"Deleta e insere novos planos de pagamentos para um cliente","operationId":"insertPlanoPagCli","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PlanoPagBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Lista integrada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanoPagBean"}}}}}}},"/webservice/integration/insertPedidoPagamento":{"post":{"tags":["PedidoPagamento"],"description":"Cria um pagamento","operationId":"insertPedidoPagamento","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pagamento criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoPagamentoBean"}}}}}}},"/webservice/integration/insertPedidoIntegrado":{"post":{"tags":["Pedido"],"description":"Cria um pedido integrado","operationId":"insertPedidoIntegrado","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pedido integrado criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoIntegradoBean"}}}}}}},"/webservice/integration/insertPayment":{"post":{"tags":["Payment"],"description":"Cria um pagamento","operationId":"insertPayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentWsBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Payment criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadoIntegrationBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertParametros":{"post":{"tags":["servidor-b-2b"],"operationId":"insertParametros","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ParametroBean"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertPagamento":{"post":{"tags":["Pagamento"],"description":"Cria um pagamento","operationId":"insertPagamento","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagamentoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pagamento criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagamentoBean"}}}}}}},"/webservice/integration/insertPagamentoVtex":{"post":{"tags":["Pagamento"],"description":"Cria um pagamento","operationId":"insertPagamentoVtex","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagamentoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pagamento criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagamentoBean"}}}}}}},"/webservice/integration/insertOrder":{"post":{"tags":["Order"],"description":"Cria um order","operationId":"insertOrder","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Order criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderWsBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertOperation":{"post":{"tags":["Operation"],"description":"Cria uma operação","operationId":"insertNota","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Operation criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationBean"}}}}}}},"/webservice/integration/insertNota":{"post":{"tags":["Nota Fiscal"],"description":"Cria uma nota fiscal","operationId":"insertNota_1","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Nota fiscal criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertLog":{"post":{"tags":["Log"],"description":"Cria um log","operationId":"insertLog","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Log criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertLogB2b":{"post":{"tags":["Log"],"description":"Cria um log B2b","operationId":"insertLogB2b","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogB2bBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Log B2b criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogB2bBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertListProdutoPresta":{"post":{"tags":["Produto"],"description":"Cria uma lista de produtos presta","operationId":"insertListProdutoPresta","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto presta lista criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoItemBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertListProdutoOnfood":{"post":{"tags":["Produto"],"description":"Cria uma lista de produtos presta","operationId":"insertListProdutoOnfood","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto presta lista criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoItemBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertListProdutoLoja":{"post":{"tags":["Produto"],"description":"Cria uma lista de produtos","operationId":"insertListProdutoLoja","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProdutoLojaBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoItemBean"}}}}}}},"/webservice/integration/insertIntegradora":{"post":{"tags":["Integradora"],"description":"Cria uma integradora","operationId":"insertIntegradora","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegradoraBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Integradora criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegradoraBean"}}}}}}},"/webservice/integration/insertHistoricoTracking":{"post":{"tags":["Pedido"],"description":"Cria um histde tracking","operationId":"insertHistoricoTracking","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Historico tracking criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HistoricoTrackingBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertFilialWinthor":{"post":{"tags":["Filial"],"description":"Cria uma filial Winthor","operationId":"insertFilialWinthor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialWinthorBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial winthor criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialWinthorBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertFilialUpSoftware":{"post":{"tags":["Filial"],"description":"Cria uma filial UpSoftware","operationId":"insertFilialUpSoftware","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialUpSoftwareBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial UpSoftware criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialUpSoftwareBean"}}}}}}},"/webservice/integration/insertFilialTiny":{"post":{"tags":["Filial"],"description":"Cria uma filial Tiny","operationId":"insertFilialTiny","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialTinyBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial tiny cria com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialSankhyaBean"}}}}}}},"/webservice/integration/insertFilialSankhya":{"post":{"tags":["Filial"],"description":"Cria uma filial Sankhya","operationId":"insertFilialSankhya","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialSankhyaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial sankhya criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialSankhyaBean"}}}}}}},"/webservice/integration/insertFilialLopes":{"post":{"tags":["Filial"],"description":"Cria uma filial Lopes","operationId":"insertFilialLopes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialLopesBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial Lopes criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialLopesBean"}}}}}}},"/webservice/integration/insertFilialGestao":{"post":{"tags":["Filial"],"description":"Cria a gestde uma filial","operationId":"insertFilialGestao","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialGestaoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Gestao filial criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialGestaoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertFilialEstoque":{"post":{"tags":["Filial"],"description":"Cria uma filial Estoque","operationId":"insertFilialEstoque","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialEstoqueBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial estoque criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialSankhyaBean"}}}}}}},"/webservice/integration/insertEstoqueVtex":{"post":{"tags":["Produto"],"description":"Cria relacionamentos de estoque e-commerce vtex para produto","operationId":"insertEstoqueVtex","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EstoqueVtexBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Preproduto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstoqueVtexBean"}}}}}}},"/webservice/integration/insertDadoIntegration":{"post":{"tags":["Integration"],"description":"Cria um dado na integradora","operationId":"insertDadoIntegration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadoIntegrationBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Dado integration criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadoIntegrationBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertCustomer":{"post":{"tags":["Customer"],"description":"Cria um customer","operationId":"insertCustomer","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Custumer criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}}}}},"/webservice/integration/insertCustomerWs":{"post":{"tags":["Customer"],"description":"Cria um customerWs","operationId":"insertCustomerWs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerWsBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"CustomerWs criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerWsBean"}}}}}}},"/webservice/integration/insertCriterioPrecoProduto":{"post":{"tags":["Produto"],"description":"Cria uma lista de critérios, preço de venda progressivo","operationId":"InsertCriterioPrecoProduto","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CriterioPrecoProdutoBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CriterioPrecoProdutoBean"}}}}}}},"/webservice/integration/insertClienteIntegrado":{"post":{"tags":["Customer"],"description":"Cria um cliente integrado","operationId":"insertClienteIntegrado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Custumer integrado criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}}}}},"/webservice/integration/insertClienteIntegradoOnfood":{"post":{"tags":["Customer"],"description":"Cria um cliente integrado","operationId":"insertClienteIntegradoOnfood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteOnfoodBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Custumer integrado criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}}}}},"/webservice/integration/insertCidadeSankhya":{"post":{"tags":["Município"],"description":"Cria uma cidade Sankhya","operationId":"insertCidadeSankhya","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CidadeSankhyaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Cidade sankhya criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CidadeSankhyaBean"}}}}}}},"/webservice/integration/insertCategoria":{"post":{"tags":["Produto"],"description":"Adiciona uma categoria de produto","operationId":"insertCategoria","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculoCatMercadoLivreBean"}}},"required":true},"responses":{"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculoCatMercadoLivreBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertCadTracking":{"post":{"tags":["Pedido"],"description":"Cria um vde tracking","operationId":"insertCadTracking","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"true","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CadTrackingBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertAtalhoRotina":{"post":{"tags":["Rotina"],"description":"Altera as rotinas mais utilizadas do usuário","operationId":"insertAtalhoRotina","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Atalho rotina criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RotinaBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/insertAcesso":{"post":{"tags":["Acesso"],"description":"Cria um acesso","operationId":"insertAcesso","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcessoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Acesso listado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcessoBean"}}}}}}},"/webservice/integration/getListTabelaPrecoEstado":{"post":{"tags":["Tabela Preço"],"description":"Retorna uma lista de preEstado","operationId":"getListTabelaPrecoEstado","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codFilial","in":"query","required":false,"schema":{"type":"string"}},{"name":"codTab","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"tabela","in":"query","required":false,"schema":{"type":"string"}},{"name":"uf","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tabela preco estado listada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoEstadoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/gerarPrecoEcommerce":{"post":{"tags":["Lista de Preço"],"description":"Cria uma e-commerce preço","operationId":"gerarPrecoEcommerce","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Ecommerce precriada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommerceBean"}}}}}}},"/webservice/integration/gerarPrecoEcommerceOnfood":{"post":{"tags":["Lista de Preço"],"description":"Cria uma e-commerce prepara uso da Onfood","operationId":"gerarPrecoEcommerceOnfood","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Ecommerce precriada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommerceOnfoodBean"}}}}}}},"/webservice/integration/verPermissaoAcesso":{"get":{"tags":["Acesso"],"description":"Valida o acesso do usuário","operationId":"verPermissaoAcesso","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"rotina","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idUsuario","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Acesso validado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcessoBean"}}}}}}},"/webservice/integration/validaPayment":{"get":{"tags":["Customer"],"description":"Valida um pagamento","operationId":"validaPayment","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"orderId","in":"query","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Payment validado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadoIntegrationBean"}}}}}}},"/webservice/integration/validaOrder":{"get":{"tags":["Order"],"description":"Valida um order","operationId":"validaOrder","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"orderId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Order validado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderWsBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/validaCustomer":{"get":{"tags":["Customer"],"description":"Valida um customer","operationId":"validaCustomer","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"documentNr","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Customer validado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadoIntegrationBean"}}}}}}},"/webservice/integration/getVinculoCatMercadoLivre":{"get":{"tags":["Produto"],"description":"Retorna uma lista de categoria vinculadas ao mercado livre","operationId":"getVinculoCatMercadoLivre","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codigo","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VinculoCatMercadoLivreBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getVariante":{"get":{"tags":["Produto"],"description":"Retorna uma variante de produto específico","operationId":"getVariante","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"productId","in":"query","required":false,"schema":{"type":"string"}},{"name":"varianteId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Variante de produto retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}}}}},"/webservice/integration/getValorNotas":{"get":{"tags":["Nota Fiscal"],"description":"Retorna o valor de uma nota fiscal específico","operationId":"getValorNotas","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"orderId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Valor de nota fiscal retornada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getUltimaIntegradora":{"get":{"tags":["Integradora"],"description":"Retorna a integradora criada","operationId":"getUltimaIntegradora","parameters":[{"name":"codCli","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idEnt","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ultima Integradora retornada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegradoraBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getTransporte":{"get":{"tags":["Transporte"],"description":"Retorna um transportes","operationId":"getTransporte","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idPayment","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"codTransp","in":"query","required":false,"schema":{"type":"string"}},{"name":"transportadora","in":"query","required":false,"schema":{"type":"string"}},{"name":"courierId","in":"query","required":false,"schema":{"type":"string"}},{"name":"courier","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Trasporte retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransporteBean"}}}}}}},"/webservice/integration/getTokenBling":{"get":{"tags":["Api"],"description":"Retorna um token Bling vpegando o mesmo ou renovando o token.","operationId":"getTokenBling","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"clientId","in":"query","required":true,"schema":{"type":"string"}},{"name":"clientSecret","in":"query","required":true,"schema":{"type":"string"}},{"name":"refreshToken","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pega um token Bling vno servidor.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenBlingBean"}}}}}}},"/webservice/integration/getTabelaPreco":{"get":{"tags":["Tabela Preço"],"description":"Retorna uma tabela de preço específica","operationId":"getTabelaPreco","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"idTabErp","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"codTabErp","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tabela de preretornada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getTabelaPrecoOnfood":{"get":{"tags":["Tabela Preço"],"description":"Retorna uma tabela de preespecífico","operationId":"getTabelaPrecoOnfood","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"idTabErp","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"codTabErp","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tabela de preretornada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoOnfoodBean"}}}}}}},"/webservice/integration/getRotina":{"get":{"tags":["Rotina"],"description":"Retorna uma rotina","operationId":"getRotina","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"nome","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Rotina retornada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RotinaBean"}}}}}}},"/webservice/integration/getQuantidadeCustomerNaoIntegrado":{"get":{"tags":["Customer"],"description":"Retorna a quantidade de CustomerIds","operationId":"getQuantidadeCustomerNaoIntegrado","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Quantidade de custumer retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getQuantidadeCustomerIntegrado":{"get":{"tags":["Customer"],"description":"Retorna a quantidade de CustomerIds integrados","operationId":"getQuantidadeCustomerIntegrado","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Quantidade de custumer integrado retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}}}}},"/webservice/integration/getQuantidadeCustomerIntegradoOnfood":{"get":{"tags":["Customer"],"description":"Retorna a quantidade de CustomerIds integrados","operationId":"getQuantidadeCustomerIntegradoOnfood","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Quantidade de custumer integrado retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteOnfoodBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getProximoSkuId":{"get":{"tags":["Produto"],"description":"Retorna o prSkuId","operationId":"getProximoSkuId","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Proximo sku id retornado com sucesso","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/webservice/integration/getProximoSkuIdPresta":{"get":{"tags":["Produto"],"description":"Retorna o proximo SkudId presta","operationId":"getProximoSkuIdPresta","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Proximo sku id presta retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}}}}}},"/webservice/integration/getProximoSkuIdOnfood":{"get":{"tags":["Produto"],"description":"Retorna o prSkuId","operationId":"getProximoSkuIdOnfood","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Proximo sku id retornado com sucesso","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/webservice/integration/getProximoCustomerId":{"get":{"tags":["Customer"],"description":"Retorna o prcustomerId","operationId":"getProximoCustomerId","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"cgc","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Proximo id custumer retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}}}}},"/webservice/integration/getProximoCustomerIdIntegrado":{"get":{"tags":["Customer"],"description":"Retorna o prCustomerId integrado","operationId":"getProximoCustomerIdIntegrado","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Proximo id custumer integrado retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getProximoCustomerIdIntegradoOnfood":{"get":{"tags":["Customer"],"description":"Retorna o prCustomerId integrado","operationId":"getProximoCustomerIdIntegradoOnfood","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteOnfoodBean"}}}}}}},"/webservice/integration/getProduto":{"get":{"tags":["Produto"],"description":"Retorna um produto específico","operationId":"getProduto","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"ean","in":"query","required":false,"schema":{"type":"string"}},{"name":"codFilial","in":"query","required":false,"schema":{"type":"string"}},{"name":"productId","in":"query","required":false,"schema":{"type":"string"}},{"name":"descricaoErp","in":"query","required":false,"schema":{"type":"string"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getProdutoPresta":{"get":{"tags":["Produto"],"description":"Retorna um produto presta","operationId":"getProdutoPresta","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"ean","in":"query","required":false,"schema":{"type":"string"}},{"name":"productId","in":"query","required":false,"schema":{"type":"string"}},{"name":"descricaoErp","in":"query","required":false,"schema":{"type":"string"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"string"}},{"name":"idVariant","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto presta retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}}}}}},"/webservice/integration/getProdutoOnfood":{"get":{"tags":["Produto"],"description":"Retorna um produto específico","operationId":"getProdutoOnfood","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"ean","in":"query","required":false,"schema":{"type":"string"}},{"name":"productId","in":"query","required":false,"schema":{"type":"string"}},{"name":"descricaoErp","in":"query","required":false,"schema":{"type":"string"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoOnfoodBean"}}}}}}},"/webservice/integration/getProdutoLoja":{"get":{"tags":["Produto"],"description":"Retorna um produto específico","operationId":"getProdutoLoja","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"ean","in":"query","required":false,"schema":{"type":"string"}},{"name":"productId","in":"query","required":false,"schema":{"type":"string"}},{"name":"descricaoErp","in":"query","required":false,"schema":{"type":"string"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"string"}},{"name":"cnpjCliente","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoLojaBean"}}}}}}},"/webservice/integration/getPreco":{"get":{"tags":["Produto"],"description":"Retorna um preço","operationId":"getPreco","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idTab","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"qtUnit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Preretornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommerceBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getPrecoProdutoPresta":{"get":{"tags":["Produto"],"description":"Retorna o prede um produto Presta","operationId":"getPrecoProdutoPresta","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"qtUnit","in":"query","required":false,"schema":{"type":"number"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Predo produto presta retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}},"deprecated":true}},"/webservice/integration/getPrecoPresta":{"get":{"tags":["Produto"],"description":"Retorna um prePresta","operationId":"getPrecoPresta","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"idTab","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"qtUnit","in":"query","required":false,"schema":{"type":"number"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto presta retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoPrestaBean"}}}}}}},"/webservice/integration/getPrecoOnfood":{"get":{"tags":["Produto"],"description":"Retorna um preço","operationId":"getPrecoOnfood","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idTab","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"qtUnit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommerceBean"}}}}}}},"/webservice/integration/getPrecoMagento":{"get":{"tags":["Produto"],"description":"Retorna um preço","operationId":"getPrecoMagento","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codProd","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"qtUnit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"skuId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Preretornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoEcommerceMagentoBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getPracaWinthor":{"get":{"tags":["Praça"],"description":"Retorna uma praWinthor","operationId":"getPracaWinthor","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"codFilial","in":"query","required":false,"schema":{"type":"string"}},{"name":"codPraca","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"praca","in":"query","required":false,"schema":{"type":"string"}},{"name":"uf","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"PraWinthor retornada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrecoPromoBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getPedidoPagamento":{"get":{"tags":["PedidoPagamento"],"description":"Retorna um Pagamento","operationId":"getPedidoPagamento","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"orderId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pagamento listado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoPagamentoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/integration/getPedidoIntegrado":{"get":{"tags":["Pedido"],"description":"Retorna um pedido integrado","operationId":"getPedidoIntegrado","parameters":[{"name":"idIntegradora","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numPed","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{
[...]
