{"openapi":"3.0.1","info":{"title":"Integrações Lopes & Cia","description":"Documentação Json para processos de integração com o time Lopes e Cia.","contact":{"name":"Lopes & Cia","url":"https://lopesecia.com.br","email":"moiseis@lopesecia.com.br","Comercial":"(62) 98595-0004","Suporte":"(62) 3181-0691"},"version":"2.4.1"},"servers":[{"url":"https://gp.lopesecia.com.br:9002/ApiLopes","description":"Ambiente de Produção"},{"url":"https://implantacao.lopesecia.com.br:7001/ApiLopes","description":"Ambiente de Homologação"},{"url":"http://localhost:7001","description":"Ambiente de Testes do Desenvolvimento"}],"security":[{"Authorization":[]}],"tags":[{"name":"Filial","description":"Represante a empresa, pessoa física ou jurídica que opera utilizando os recursos do sistema"},{"name":"Produto","description":"Classe que representa um Produto ou  Serviço\nO produto é toda a mercadoria colocada à venda no comércio, que, normalmente, tem prazo de validade. Por exemplo: celular, sapatos e pacotes de arroz. Já o serviço, é um ato ou desempenho intangível, oferecido por uma empresa para outra empresa ou consumidor final."},{"name":"Parceiro","description":"Pessoa física ou jurídica que possui laço comercial com a unidade comercial gerenciada"},{"name":"Funcionário","description":"Aquele que exerce, desempenha funções"},{"name":"Usuário","description":"Aquele que, por direito de uso, serve-se do sistema"},{"name":"Vendedor","description":"O vendedor é o profissional encarregado de oferecer orientações e informações sobre produtos ou serviços"},{"name":"Insumos","description":"Insumos para o sistema de gestão"},{"name":"Ticket","description":"Ticket e são as informações de uma demanda"},{"name":"CRM","description":"Relacionamento com o Cliente"},{"name":"Preço","description":"Tabela de preços para produtos e serviços"},{"name":"Vendas","description":"Componentes para venda de produtos e serviços"},{"name":"Compras","description":"Produto ou serviço requerido"},{"name":"Pagamento","description":"Planos com cobrança e prazo para pagamento"},{"name":"Contas","description":"Plano de Contas contábil e Gerencial"},{"name":"Contrato","description":"Contratos com parceiros"},{"name":"Financeiro","description":"Conta a pagar e contas a receber"},{"name":"Fiscal","description":"Cadastros para o processameneto fiscal"},{"name":"Município","description":"As UFs, municípios e estados"},{"name":"Sistema","description":"Compomentes do sistema"},{"name":"Integração","description":"Integradora padrão para pedidos e clientes"},{"name":"Saas","description":"O SaaS (Software como Serviço) permite aos usuários se conectar e usar aplicativos baseados em nuvem pela Internet."}],"paths":{"/webservice/api/validaProdutosTabelaPreco":{"put":{"tags":["Preço"],"description":"Valida os produtos de uma tabela de preço","operationId":"validaProdutosTabelaPreco","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produtos tabela preco validada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoProdutoBean"}}}}}}},"/webservice/api/updateVersaoProduto":{"put":{"tags":["Saas"],"description":"Altera a verdo produto","operationId":"updateVersaoProduto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersaoProdutoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Verdo produto alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersaoProdutoBean"}}}}}}},"/webservice/api/updateVendedor":{"put":{"tags":["Vendedor"],"description":"Altera um vendedor","operationId":"updateVendedor","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Vendedor alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}}}}},"/webservice/api/updateVeiculo":{"put":{"tags":["Insumos"],"description":"Altera um vinculo","operationId":"updateVeiculo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Vinculo alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeiculoBean"}}}}}}},"/webservice/api/updateTicket":{"put":{"tags":["Ticket"],"description":"Altera um ticket","operationId":"updateTicket","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Ticket alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChamadoBean"}}}}}}},"/webservice/api/updateTermo":{"put":{"tags":["Ticket"],"description":"Altera um termo de encerramento","operationId":"updateTermo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Termos de encerramento alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermoEncerramentoBean"}}}}}}},"/webservice/api/updateTermoParagrafo":{"put":{"tags":["Ticket"],"description":"Altera o termo de um parágrafo","operationId":"updateTermoParagrafo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Termos de paragrafo alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermoEncerramentoBean"}}}}}}},"/webservice/api/updateTelemarketing":{"put":{"tags":["CRM"],"description":"Atualiza telemarketing","operationId":"updateTelemarketing","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Telemarketing alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TelemarketingBean"}}}}}}},"/webservice/api/updateSetor":{"put":{"tags":["Contas"],"description":"Altera um setor","operationId":"updateSetor","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Setor alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CentroCustoBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateSenhaUsuario":{"put":{"tags":["Usuário"],"description":"Altera a senha de um usuario","operationId":"updateSenhaUsuario","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Funcionário alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FuncionarioBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateSecao":{"put":{"tags":["Produto"],"description":"Altera uma seção","operationId":"updateSecao","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Sealterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanoContabilBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateSaldoPolitica":{"put":{"tags":["Parceiro"],"description":"Altera uma saldo política comércial","operationId":"updateSaldoPolitica","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Saldo politica alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoliticaComercialBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateRetornoNfe":{"put":{"tags":["Vendas"],"description":"Atualisa vinculo Nf","operationId":"updateRetornoNfe","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Retorno nfe alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaFiscalBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateProjeto":{"put":{"tags":["Ticket"],"description":"Altera um projeto","operationId":"updateProjeto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Projeto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjetoBean"}}}}}}},"/webservice/api/updateProduto":{"put":{"tags":["Produto"],"description":"Altera o cadastro de um produto","operationId":"updateProduto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}}}}},"/webservice/api/updateProdutoFoods":{"put":{"tags":["Produto"],"description":"Altera um produto do foods","operationId":"updateProdutoFoods","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto foods alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}}}}},"/webservice/api/updatePrazo":{"put":{"tags":["Pagamento"],"description":"Altera um prazo","operationId":"updatePrazo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Prazo alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrazoBean"}}}}}}},"/webservice/api/updatePonto":{"put":{"tags":["Funcionário"],"description":"Altera um ponto","operationId":"updatePonto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Ponto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PontoBean"}}}}}}},"/webservice/api/updatePolitica":{"put":{"tags":["Parceiro"],"description":"Altera uma política comércial","operationId":"updatePolitica","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Politica alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoliticaComercialBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updatePlano":{"put":{"tags":["Contas"],"description":"Altera um plano","operationId":"updatePlano","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Plano alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanoContabilBean"}}}}}}},"/webservice/api/updatePlanoPagamento":{"put":{"tags":["Pagamento"],"description":"Altera um plano de pagamento","operationId":"updatePlanoPagamento","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Planos de pagamento alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanoPagamentoBean"}}}}}}},"/webservice/api/updatePlanoGerencial":{"put":{"tags":["Contas"],"description":"Atualiza um plano gerencial","operationId":"updatePlanoGerencial","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Planos gerencial alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanoPagamentoBean"}}}}}}},"/webservice/api/updatePedidoVenda":{"put":{"tags":["Vendas"],"description":"Altera um pedido de venda","operationId":"updatePedidoVenda","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pedido de venda alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoVendaBean"}}}}}}},"/webservice/api/updatePedidoCompra":{"put":{"tags":["Compras"],"description":"Altera um pedido de compra","operationId":"updatePedidoCompra","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pedido de compra alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoCompraBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updatePatrocinadoTicket":{"put":{"tags":["Ticket"],"description":"Altera o patrocinado de um ticket","operationId":"updatePatrocinadoTicket","parameters":[{"name":"idFilial","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idPatrocinador","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ticket","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Patrocinador ticket alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChamadoBean"}}}}}}},"/webservice/api/updatePatrimonio":{"put":{"tags":["Insumos"],"description":"Altera um patrimonio","operationId":"updatePatrimonio","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Patrimonio alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatrimonioBean"}}}}}}},"/webservice/api/updateParteContaCusto":{"put":{"tags":["Contas"],"description":"Altera parte de conta custo","operationId":"updateParteContaCusto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Parte de conta custo alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParteContaCustoBean"}}}}}}},"/webservice/api/updateParceiro":{"put":{"tags":["Parceiro"],"description":"Altera os dados de um Parceiro","operationId":"updateParceiro","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Parceiro criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParceiroBean"}}}}}}},"/webservice/api/updateParceiroDados":{"put":{"tags":["Parceiro"],"description":"Atualiza os dados de um Parceiros","operationId":"updateParceiroDados","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Dados de parceiro alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParceiroDadosBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateParametrizacao":{"put":{"tags":["Contrato"],"description":"Altera um parágrafo","operationId":"updateParametrizacao","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Paralterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParametrizacaoContratoBean"}}}}}}},"/webservice/api/updateOrderStats":{"put":{"tags":["Sistema"],"description":"Altera order status","operationId":"updateOrderStats","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Order stats alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderStatsBean"}}}}}}},"/webservice/api/updateOperadoraCartao":{"put":{"tags":["Pagamento"],"description":"Altera uma operadora de cartões","operationId":"updateOperadoraCartao","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Operadoras de cartalterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperadoraCartaoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateOperadorSistema":{"put":{"tags":["Saas"],"description":"Altera um registro de operador de sistemas lopes","operationId":"updateOperadorSistema","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperadorSistemaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processa o resgitro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperadorSistemaBean"}}}}}}},"/webservice/api/updateNotaFiscal":{"put":{"tags":["Vendas"],"description":"Altera uma nota fiscal","operationId":"updateNotaFiscal","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Nota fiscal alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaFiscalBean"}}}}}}},"/webservice/api/updateNotaFiscalLog":{"put":{"tags":["Vendas"],"description":"Altera nota fiscal log","operationId":"updateNotaFiscalLog","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Nota fiscal log alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaFiscalBean"}}}}}}},"/webservice/api/updateNbs":{"put":{"tags":["Fiscal"],"description":"Altera um NBS","operationId":"updateNbs","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"NBS alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NcmBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateMovimento":{"put":{"tags":["Financeiro"],"description":"Altera um movimento Financeiro","operationId":"updateMovimento","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Movimento alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MovimentoBean"}}}}}}},"/webservice/api/updateMotorOferta":{"put":{"tags":["Vendas"],"description":"Altera um motor de ofertas","operationId":"updateMotorOferta","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Motores de ofertas alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaixaMovimentoBean"}}}}}}},"/webservice/api/updateMotivo":{"put":{"tags":["Vendas"],"description":"Altera um motivo","operationId":"updateMotivo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Motivo alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MotivoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateMensagem":{"put":{"tags":["Ticket"],"description":"Altera uma mensagem Existente","operationId":"updateMensagem","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processa o resgitro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MensagemTicketBean"}}}}}}},"/webservice/api/updateMarca":{"put":{"tags":["Produto"],"description":"Altera uma marca","operationId":"updateMarca","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Marca alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarcaBean"}}}}}}},"/webservice/api/updateItemOperadorSistema":{"put":{"tags":["Saas"],"description":"Altera um registro de itens/token do operador de sistemas lopes","operationId":"updateItemOperadorSistema","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processa o resgitro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItensSistemaBean"}}}}}}},"/webservice/api/updateIntegraDados":{"put":{"tags":["Integração"],"description":"Altera um dado na tabela de integração","operationId":"updateIntegraDados","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Altera um registro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegraDadosBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateIntegraCliente":{"put":{"tags":["Integração"],"description":"Altera um cliente da tabela de integração","operationId":"updateIntegraCliente","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegraClienteBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Altera o resgitro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegraClienteBean"}}}}}}},"/webservice/api/updateGrupo":{"put":{"tags":["Produto"],"description":"Altera um grupo","operationId":"updateGrupo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Grupo alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrupoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateFuncionario":{"put":{"tags":["Funcionário"],"description":"Altera um funcionário","operationId":"updateFuncionario","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Funcionário alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FuncionarioBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateFormaPagamentoNf":{"put":{"tags":["Pagamento"],"description":"Altera um forma de pagamento nota fiscal","operationId":"updateFormaPagamentoNf","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Forma de pagamento nf alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormaPagamentoNfBean"}}}}}}},"/webservice/api/updateFilial":{"put":{"tags":["Filial"],"description":"Altera um registro de Filial existente","operationId":"updateFilial","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Filial alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilialBean"}}}}}}},"/webservice/api/updateFigura":{"put":{"tags":["Fiscal"],"description":"Altera uma figura","operationId":"updateFigura","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Figura alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiguraBean"}}}}}}},"/webservice/api/updateFase":{"put":{"tags":["Ticket"],"description":"Altera a fase de um projeto","operationId":"updateFase","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Fase projeto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjetoBean"}}}}}}},"/webservice/api/updateFaseTicket":{"put":{"tags":["Ticket"],"description":"Altera a fase para um ticket especíe","operationId":"updateFaseTicket","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Fase ticket alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChamadoBean"}}}}}}},"/webservice/api/updateDepartamento":{"put":{"tags":["Produto"],"description":"Altera um departamento","operationId":"updateDepartamento","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Departamentos alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoriaBean"}}}}}}},"/webservice/api/updateCrm":{"put":{"tags":["CRM"],"description":"Altera um crm","operationId":"updateCrm","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Crm alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmContatoBean"}}}}}}},"/webservice/api/updateCrmStatus":{"put":{"tags":["CRM"],"description":"Altera um crm status","operationId":"updateCrmStatus","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Crm status alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmContatoBean"}}}}}}},"/webservice/api/updateCrmCampanha":{"put":{"tags":["CRM"],"description":"Altera uma campanhas crm","operationId":"updateCrmCampanha","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Campanhas crm alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmContatoBean"}}}}}}},"/webservice/api/updateCotacaoParametro":{"put":{"tags":["Compras"],"description":"Altera cotaparametro","operationId":"updateCotacaoParametro","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Cotaparretornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CotacaoLancamentoBean"}}}}}}},"/webservice/api/updateContrato":{"put":{"tags":["Contrato"],"description":"Altera um contrato","operationId":"updateContrato","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Contrato alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContratoBean"}}}}}}},"/webservice/api/updateContatoParceiro":{"put":{"tags":["Parceiro"],"description":"Altera um contato de um Parceiros","operationId":"updateContatoParceiro","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Contato de parceiro alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParceiroBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateContador":{"put":{"tags":["Contas"],"description":"Altera um contador","operationId":"updateContador","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Contador alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContadorBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateContaGerencial":{"put":{"tags":["Contas"],"description":"Altera uma conta gerencial","operationId":"updateContaGerencial","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Conta gerencial alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContaGerencialBean"}}}}}}},"/webservice/api/updateContaCotabil":{"put":{"tags":["Contas"],"description":"Altera uma conta contábil","operationId":"updateContaCotabil","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Conta contabil alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperadoraCartaoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateConsultorTicket":{"put":{"tags":["Ticket"],"description":"Altera o consultor de um ticket","operationId":"updateConsultorTicket","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Consultor ticket alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChamadoBean"}}}}}}},"/webservice/api/updateClienteSas":{"put":{"tags":["Saas"],"description":"Altera um registro de cliente com serviSaas","operationId":"updateClienteSas","parameters":[{"name":"body","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processa o resgitro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteSasBean"}}}}}}},"/webservice/api/updateClausula":{"put":{"tags":["Contrato"],"description":"Altera um cláusula","operationId":"updateClausula","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Clausula alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClausulaBean"}}}}}}},"/webservice/api/updateCfop":{"put":{"tags":["Fiscal"],"description":"Altera um cfop","operationId":"updateCfop","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Cfop alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CfopBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateCentroCusto":{"put":{"tags":["Contas"],"description":"Altera um centro de custo","operationId":"updateCentroCusto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Centros de custo alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CentroCustoBean"}}}}}}},"/webservice/api/updateCategoria":{"put":{"tags":["Produto"],"description":"Altera uma categoria especíe","operationId":"updateCategoria","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Categoria alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoriaBean"}}}}}}},"/webservice/api/updateCaixa":{"put":{"tags":["Insumos"],"description":"Altera uma caixa","operationId":"updateCaixa","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Caixa alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaixaBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateCaixaMovimento":{"put":{"tags":["Insumos"],"description":"Altera uma caixa em movimento","operationId":"updateCaixaMovimento","parameters":[{"name":"body","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Caixa movimento alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaixaMovimentoBean"}}}}}}},"/webservice/api/updateBeneficio":{"put":{"tags":["Funcionário"],"description":"Altera um benefício","operationId":"updateBeneficio","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Beneficio alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FuncionarioBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateBanco":{"put":{"tags":["Pagamento"],"description":"Altera um banco","operationId":"updateBanco","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Bancos alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BancoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateAtendimento":{"put":{"tags":["Ticket"],"description":"Altera um atendimento","operationId":"updateAtendimento","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Atendimento alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChamadoBean"}}}}}}},"/webservice/api/updateAcessoProduto":{"put":{"tags":["Saas"],"description":"Altera um acesso Existente","operationId":"updateAcessoProduto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processa o resgitro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcessoProdutoBean"}}}}}}},"/webservice/api/updateAcertoCaixa":{"put":{"tags":["Insumos"],"description":"Altera uma caixa acerto","operationId":"updateAcertoCaixa","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Caixa acerto alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaixaBean"}}}}}}},"/webservice/api/updateAcao":{"put":{"tags":["Ticket"],"description":"Altera a ade um projeto","operationId":"updateAcao","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Aalterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemFaseProjetoBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateAcaoTicket":{"put":{"tags":["Ticket"],"description":"Altera a ade um terceiro","operationId":"updateAcaoTicket","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Aticket alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChamadoBean"}}}}}}},"/webservice/api/upateTabelaPreco":{"put":{"tags":["Preço"],"description":"Altera uma tabela","operationId":"upateTabelaPreco","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Tabela alterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarcaBean"}}}}}}},"/webservice/api/upatePreco":{"put":{"tags":["Preço"],"description":"Altera o predo produto na tabela de preço","operationId":"upatePreco","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Prealterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoProdutoBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/upatePrecoProduto":{"put":{"tags":["Produto"],"description":"Altera o predo produto","operationId":"upatePrecoProduto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Preproduto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoVendaBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/upateListPreco":{"put":{"tags":["Preço"],"description":"Altera uma lista de predo produto na tabela de preço","operationId":"upateListPreco","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Lista prealterada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoProdutoBean"}}}}}}},"/webservice/api/upateListEstoque":{"put":{"tags":["Produto"],"description":"Atualiza uma lista de Estoque de produtos","operationId":"upateListEstoque","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Lista estoque alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstoqueProdutoBean"}}}}}}},"/webservice/api/upateEstoque":{"put":{"tags":["Produto"],"description":"Atualiza o Estoque de um produto","operationId":"upateEstoque","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Estoque alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstoqueBean"}}}}}}},"/webservice/api/upateCustoProduto":{"put":{"tags":["Produto"],"description":"Altera o custo do produto","operationId":"upateCustoProduto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Custo produto alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoCompraBean"}}}}}}},"/webservice/api/putEnviaToken":{"put":{"tags":["Sistema"],"description":"Envia token por e-mail","operationId":"putEnviaToken","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Envia uma mensagem","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/webservice/api/putEnviaTokenWhatsApp":{"put":{"tags":["Sistema"],"description":"Envia Token por WhatsApp","operationId":"putEnviaTokenWhatsApp","parameters":[{"name":"telefone","in":"query","required":true,"schema":{"type":"string"}},{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Devolve uma lista de String","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/putAjustaParcela":{"put":{"tags":["Financeiro"],"description":"Faz um ajuste no valor de uma parcela","operationId":"putAjustaParcela","parameters":[{"name":"idFilial","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numped","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numDocFiscal","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ajustar","in":"query","required":true,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"Ajuda para uma parcela criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MovimentoBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/processaCliente":{"put":{"tags":["Integração"],"description":"Processa o cliente desejado para integrar no Sistema","operationId":"processaCliente","parameters":[{"name":"cnpj","in":"query","required":true,"schema":{"type":"string"}},{"name":"codintegra","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processa o resgitro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegraClienteBean"}}}}}}},"/webservice/api/inativaParceiro":{"put":{"tags":["Parceiro"],"description":"Altera o status de um Parceiro para inativo","operationId":"inativaParceiro","parameters":[{"name":"idParc","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idFilial","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Parceiro inativado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParceiroBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/geraEstruturaProjeto":{"put":{"tags":["Ticket"],"description":"Altera um ticket","operationId":"geraEstruturaProjeto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Ticket alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChamadoBean"}}}}}}},"/webservice/api/faturaServico":{"put":{"tags":["Fiscal"],"description":"Fatura um Serviço","operationId":"faturaServico","parameters":[{"name":"numPed","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idFilial","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numNota","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numRps","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"serie","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"type":"integer","format":"int32"}}}}}}},"/webservice/api/excluiEstruturaProjeto":{"put":{"tags":["Ticket"],"description":"Altera um ticket","operationId":"excluiEstruturaProjeto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Ticket alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChamadoBean"}}}}}}},"/webservice/api/criaEstoqueCadastro":{"put":{"tags":["Produto"],"description":"Reprocessa a estrutura de estoque no protudo","operationId":"criaEstoqueCadastro","parameters":[{"name":"idFilial","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idProd","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Estoque cadastrado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstoqueProdutoBean"}}}}}}},"/webservice/api/copiaPedidoCompra":{"put":{"tags":["Compras"],"description":"Copia um pedido de compra","operationId":"copiaPedidoCompra","parameters":[{"name":"idFilial","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"original","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"rotina","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pedido de compra copiado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoCompraBean"}}}}}}},"/webservice/api/copiaItensPedidoCompra":{"put":{"tags":["Compras"],"description":"Copia um item do pedido de compra","operationId":"copiaItensPedidoCompra","parameters":[{"name":"novo","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"original","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pedido de compra item copiado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoCompraItemBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/whatsappChamadoAtualizado":{"post":{"tags":["Sistema"],"description":"Envia mensagem por WhatsApp","operationId":"postChamadoAtualizado","parameters":[{"name":"telefone","in":"query","required":true,"schema":{"type":"string"}},{"name":"chamado","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Devolve uma lista de String","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoletoWhatsAppRequestDto"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/verificarToken":{"post":{"tags":["Sistema"],"description":"Valida uma chave de acesso ao usuário","operationId":"verificarToken","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Valida uma chave de acesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItensSistemaBean"}}}}}}}},"/webservice/api/verificarTokenSistema":{"post":{"tags":["Sistema"],"description":"Valida um o acesso de um usuário","operationId":"verificarTokenSistema","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}},{"name":"idIntegradora","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItensSistemaBean"}}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/updateSocio":{"post":{"tags":["Filial"],"description":"Altera um sócio","operationId":"updateSocio","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Salterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParceiroBean"}}}}}}},"/webservice/api/tokenService":{"post":{"tags":["Sistema"],"description":"Registra um Operador no sistema","operationId":"tokenService","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosTokenServicoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Emite um token para servipreviamente cadsatrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosTokenServicoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/setReplicaAcesso":{"post":{"tags":["Usuário"],"description":"Replica os acessos de um usupara outro usuna mesma filial","operationId":"setReplicaAcesso","parameters":[{"name":"idFunc","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Acesso setado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcessoBean"}}}}}}},"/webservice/api/setAcesso":{"post":{"tags":["Usuário"],"description":"Cria um novo acesso para um usuna filial","operationId":"insertAcesso","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Acesso setado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcessoBean"}}}}}}},"/webservice/api/setAcessoTotal":{"post":{"tags":["Usuário"],"description":"Dacesso total ao usuna filial","operationId":"setAcessoTotal","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Acesso total setado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcessoBean"}}}}}}},"/webservice/api/registrarSessao":{"post":{"tags":["Sistema"],"description":"Registra um Operador no sistema","operationId":"registrarSessao","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosTokenUsuarioBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Registra um operador","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosTokenUsuarioBean"}}}}}}},"/webservice/api/refreshToken":{"post":{"tags":["Sistema"],"description":"Atualiza o token no sistema","operationId":"refreshToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosTokenUsuarioBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Atualiza um token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosTokenUsuarioBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/refreshService":{"post":{"tags":["Sistema"],"description":"Atualiza o token no sistema","operationId":"refreshService","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosTokenUsuarioBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Atualiza um token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosTokenUsuarioBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/processarECONFNfce":{"post":{"tags":["Sistema"],"description":"Sistema Específico para Chiquinho Sorvetes","operationId":"processarECONFNfce","parameters":[{"name":"lote","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"idLoja","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"atualizaCertificado","in":"query","required":true,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosAplicativoBean"}}}}}}},"/webservice/api/postTicketHibot":{"post":{"tags":["Sistema"],"description":"Cria um Ticket pelo Hibot","operationId":"postTicketHibot","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Ticket hibot criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParceiroDadosBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/postParceiroChatHibot":{"post":{"tags":["Sistema"],"description":"Cria um Parceiro pelo Hibot","operationId":"postParceiroChatHibot","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Parceiro hibot criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParceiroDadosBean"}}}}}}},"/webservice/api/postParametro":{"post":{"tags":["Filial"],"description":"Insert parágrafo","operationId":"postParametro","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ParametroBean"}}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Parinserido com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParametroBean"}}}}}}},"/webservice/api/postEnviarEmail":{"post":{"tags":["Sistema"],"description":"Envia mensagem por E-mail","operationId":"postEnviarEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParametrosEmailBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Devolve uma lista de String","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParametrosEmailBean"}}}}}}},"/webservice/api/postEnviarCodigoAcessoDoAppPeloWhatsApp":{"post":{"tags":["Sistema"],"description":"Envia mensagem por WhatsApp","operationId":"postEnviarCodigoAcessoDoAppPeloWhatsApp","parameters":[{"name":"codigo","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParametrosWhatsAppBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Devolve uma lista de String","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParametrosWhatsAppBean"}}}}}}},"/webservice/api/postEnviarBoletoPeloWhatsApp":{"post":{"tags":["Sistema"],"description":"Envia mensagem por WhatsApp","operationId":"postEnviarBoletoPeloWhatsApp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoletoWhatsAppRequestDto"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Devolve uma lista de String","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BoletoWhatsAppRequestDto"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/postEnviaTokenWhatsApp":{"post":{"tags":["Sistema"],"description":"Envia Token por WhatsApp","operationId":"postEnviaTokenWhatsApp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnviaTokenWhatsAppRequestDto"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Devolve uma lista de String","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/postAutenticaAplicativo":{"post":{"tags":["Sistema"],"description":"Cadastra um aplicativo de terminal offline","operationId":"postAutenticaAplicativo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosAplicativoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DadosAplicativoBean"}}}}}}},"/webservice/api/integraPedido":{"post":{"tags":["Integração"],"description":"Processa o pedido enviado para integrar no Sistema","operationId":"integraPedido","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegraPedidoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegraPedidoBean"}}}}}}},"/webservice/api/insertVinculoNf":{"post":{"tags":["Compras"],"description":"Cria vinculo Nf","operationId":"insertVinculoNf","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Vinculo nf criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaFiscalBean"}}}}}}},"/webservice/api/insertVersaoProduto":{"post":{"tags":["Saas"],"description":"Cria uma verdo produto","operationId":"insertVersaoProduto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersaoProdutoBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Verdo produto criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersaoProdutoBean"}}}}}}},"/webservice/api/insertVendedor":{"post":{"tags":["Vendedor"],"description":"Cria um vendedor","operationId":"inserirVendedor","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Vendedor criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClienteBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertVeiculo":{"post":{"tags":["Insumos"],"description":"Cria um vinculo","operationId":"insertVeiculo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Vinculo criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeiculoBean"}}}}}}},"/webservice/api/insertTransacao":{"post":{"tags":["Pagamento"],"description":"Cria uma transação","operationId":"insertTransacao","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Transacriada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaixaMovimentoBean"}}}}}}},"/webservice/api/insertTicket":{"post":{"tags":["Ticket"],"description":"Cria um ticket","operationId":"insertTicket","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Ticket criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChamadoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertTermo":{"post":{"tags":["Ticket"],"description":"Cria um termo de encerramento","operationId":"inserirTermo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Termos de encerramento criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermoEncerramentoBean"}}}}}}},"/webservice/api/insertTermoParagrafo":{"post":{"tags":["Ticket"],"description":"Cria um termo de um parágrafo","operationId":"inserirTermoParagrafo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Termos de paragrafo criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermoEncerramentoBean"}}}}}}},"/webservice/api/insertTelemarketing":{"post":{"tags":["CRM"],"description":"Cria um telemarketing","operationId":"inserirTelemarketing","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Telemarketing criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TelemarketingBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertTabela":{"post":{"tags":["Preço"],"description":"Cria uma tabela","operationId":"insertTabelaPreco","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Tabela criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarcaBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertSocio":{"post":{"tags":["Filial"],"description":"Cria um sócio","operationId":"insertSocio","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Scriado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParceiroBean"}}}}}}},"/webservice/api/insertSetor":{"post":{"tags":["Contas"],"description":"Cria um setor","operationId":"insertSetor","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Setor de custo criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CentroCustoBean"}}}}}}},"/webservice/api/insertSecao":{"post":{"tags":["Produto"],"description":"Cria uma seção","operationId":"insertSecao","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Secriada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanoContabilBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertRetornoNfe":{"post":{"tags":["Vendas"],"description":"Cria vinculo Nf","operationId":"insertRetornoNfe","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Retorno nfe criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaFiscalBean"}}}}}}},"/webservice/api/insertProjeto":{"post":{"tags":["Ticket"],"description":"Cria um projeto","operationId":"inserirProjeto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Projeto criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjetoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertProduto":{"post":{"tags":["Produto"],"description":"Cadastra um novo produto","operationId":"insertProduto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}}}}},"/webservice/api/insertProdutoFoods":{"post":{"tags":["Produto"],"description":"Cadastra um produto do foods","operationId":"insertProdutoFoods","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Produto foods criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertPreco":{"post":{"tags":["Preço"],"description":"Cria o produto na tabela de preço","operationId":"insertPreco","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Precriado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TabelaPrecoProdutoBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertPrazo":{"post":{"tags":["Pagamento"],"description":"Cria um prazo","operationId":"insertPrazo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Prazo criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrazoBean"}}}}}}},"/webservice/api/insertPonto":{"post":{"tags":["Funcionário"],"description":"Cria um ponto","operationId":"insertPonto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Ponto criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PontoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertPolitica":{"post":{"tags":["Parceiro"],"description":"Cria uma política comércial","operationId":"insertPolitica","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Politica criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoliticaComercialBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertPlano":{"post":{"tags":["Contas"],"description":"Cria um plano","operationId":"insertPlano","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Plano criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanoContabilBean"}}}}}}},"/webservice/api/insertPlanoParceiro":{"post":{"tags":["Pagamento"],"description":"Cria um plano de parceiro","operationId":"insertPlanoParceiro","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Plano parceiro criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanoParceiroBean"}}}}}}},"/webservice/api/insertPlanoPagamento":{"post":{"tags":["Pagamento"],"description":"Criei um plano de pagamento","operationId":"insertPlanoPagamento","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Planos de pagamento criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanoPagamentoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertPlanoGerencial":{"post":{"tags":["Contas"],"description":"Cria um plano gerencial","operationId":"insertPlanoGerencial","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Planos gerencial criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlanoPagamentoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertPedidoVenda":{"post":{"tags":["Vendas"],"description":"Cria um pedido de venda","operationId":"insertPedidoVenda","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Pedido de venda criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoVendaBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertPedidoVendaItem":{"post":{"tags":["Vendas"],"description":"Cria um iten pedido venda","operationId":"insertPedidoVendaItem","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Total de itens pedido criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoVendaBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertPedidoCompra":{"post":{"tags":["Compras"],"description":"Cria pedido de compra","operationId":"insertPedidoCompra","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pedido de compra criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoCompraBean"}}}}}}},"/webservice/api/insertPatrimonio":{"post":{"tags":["Insumos"],"description":"Cria um patrimonio","operationId":"insertPatrimonio","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Patrimonio criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatrimonioBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertParceiro":{"post":{"tags":["Parceiro"],"description":"Cria um Parceiro","operationId":"insertParceiro","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Parceiro criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParceiroBean"}}}}}}},"/webservice/api/insertParceiroDados":{"post":{"tags":["Parceiro"],"description":"Cria dados para os Parceiros","operationId":"insertParceiroDados","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Dados de parceiro criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParceiroDadosBean"}}}}}}},"/webservice/api/insertParametrizacao":{"post":{"tags":["Contrato"],"description":"Cria um parágrafo","operationId":"insertParametrizacao","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Parcriado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParametrizacaoContratoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertOrderStats":{"post":{"tags":["Sistema"],"description":"Cria order status","operationId":"insertOrderStats","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Order stats criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderStatsBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertOperadoraCartao":{"post":{"tags":["Pagamento"],"description":"Cria uma operadora de cartões","operationId":"insertOperadoraCartao","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Operadoras de cartcriada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperadoraCartaoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertOperadorSistema":{"post":{"tags":["Saas"],"description":"Inclui um registro de operador de sistema lopes","operationId":"insertOperadorSistema","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperadorSistemaBean"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processa o resgitro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperadorSistemaBean"}}}}}}},"/webservice/api/insertNotaFiscal":{"post":{"tags":["Vendas"],"description":"Cria uma nota fiscal","operationId":"insertNotaFiscal","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Nota fiscal criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaFiscalBean"}}}}}}},"/webservice/api/insertNotaFiscalLog":{"post":{"tags":["Vendas"],"description":"Cria nota fiscal log","operationId":"insertNotaFiscalLog","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Nota fiscal log criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaFiscalBean"}}}}}}},"/webservice/api/insertNbs":{"post":{"tags":["Fiscal"],"description":"Cria um NBS","operationId":"insertNbs","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"NBS criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NcmBean"}}}}}}},"/webservice/api/insertMovimento":{"post":{"tags":["Financeiro"],"description":"Cria um movimento Financeiro","operationId":"insertMovimento","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Movimento criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MovimentoBean"}}}}}}},"/webservice/api/insertMotorOferta":{"post":{"tags":["Vendas"],"description":"Cria um motor de ofertas","operationId":"insertMotorOferta","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Motores de ofertas criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaixaMovimentoBean"}}}}}}},"/webservice/api/insertMotivo":{"post":{"tags":["Vendas"],"description":"Cria um motivo","operationId":"insertMotivo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Motivo criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MotivoBean"}}}}}}},"/webservice/api/insertMensagem":{"post":{"tags":["Ticket"],"description":"Inseri uma nova mensagem","operationId":"insertMensagem","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processa o resgitro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MensagemTicketBean"}}}}}}},"/webservice/api/insertMarca":{"post":{"tags":["Produto"],"description":"Cria uma marca","operationId":"insertMarca","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Marca cria com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarcaBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertListProduto":{"post":{"tags":["Produto"],"description":"Cadastra uma lista de novos produtos","operationId":"insertListProduto","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Lista produto criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProdutoBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertListPedidoVendaItem":{"post":{"tags":["Vendas"],"description":"Cria uma lista itens pedido venda","operationId":"insertListPedidoVendaItem","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pedido venda item criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoVendaBean"}}}}}}},"/webservice/api/insertKit":{"post":{"tags":["Produto"],"description":"Cria um kit de produtos","operationId":"insertKit","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Kit criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KitBean"}}}}}}},"/webservice/api/insertItem":{"post":{"tags":["Contrato"],"description":"Cria um item","operationId":"insertItem","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Iten criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItensBean"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertItemPedidoCompra":{"post":{"tags":["Compras"],"description":"Cria um item do pedido de compra","operationId":"insertItemPedidoCompra","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Pedido de compra item criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PedidoCompraItemBean"}}}}}}},"/webservice/api/insertItemOperadorSistema":{"post":{"tags":["Saas"],"description":"Inclui um registro de itens/token do operador de sistema lopes","operationId":"insertItemOperadorSistema","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Processa o resgitro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItensSistemaBean"}}}}}}},"/webservice/api/insertIntegraDados":{"post":{"tags":["Integração"],"description":"Recebe um dado e insere na tabela de integração","operationId":"insertIntegraDados","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Cria um novo registro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegraDadosBean"}}}}}}},"/webservice/api/insertIntegraCliente":{"post":{"tags":["Integração"],"description":"Recebe um cliente e insere na tabela de integração. Código integra: * 1 - Cliente; * 2 - Fornecedor; * 3 - Transportadora; * 4 - Funcioário. Caso não informe o CNAE vamos usar o padrão Consumidor final. Para pessoa física já não é necessário","operationId":"insertIntegraCliente","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegraClienteBean"}}},"required":true},"responses":{"200":{"description":"Cria um novo registro","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegraClienteBean"}}}},"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/webservice/api/insertImagem":{"post":{"tags":["Produto"],"description":"Cria uma imagen","operationId":"insertImagem","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Imagen criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImagemBean"}}}}}}},"/webservice/api/insertGrupo":{"post":{"tags":["Produto"],"description":"Cria um grupo","operationId":"insertGrupo","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"404":{"description":"Não encontrado","content":{"*/*":{"schema":{"type":"object"}}}},"500":{"description":"Erro interno","content":{"*/*":{"schema":{"type":"object"}}}},"200":{"description":"Grupo criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrupoBean"}}}}}}},"/webservice/api/insertFuncionario":{"post":{"tags":["Funcionário"],"description":"Cria um funcionário","operationId":"insertFuncionario","re
[...]
